# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science
* Example of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. pandas
4. Matplotlib
5. ggplot2
6. dplyr

| Data Science Tools |
| ------------------ |
|  Jupyter Notebooks |
|       Orange       | 
|    Apache Spark    |
|      Anaconda

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to mutiply then add integers.
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
P. Kubasova